[gdoormon]
# Registration web server port.
server_port: 8080

# Hostname/IP of the airport to get wifi client info.
airport_hostname: airport
# How often to poll the airport for wifi client info (via SNMP).
airport_polling_secs: 15

# XMPP login details.
xmpp_user: user@example.com
xmpp_passwd: hunter2

# Hostname/IP of the arduino
arduino_hostname: arduino-gdoor
# How often to poll the arduino door sensor.
arduino_polling_secs: 5
# Distance from the range finder until the door is considered "open".
arduino_threshold_cm: 10

# When someone is home, how long until generating a door alert.
door_open_timeout_secs: 3600
# After sending an alert, how long until attempting to close the door.
alert_timeout_secs: 300

# vim: ft=config
