# If your linux distro uses systemd, edit the paths in this file and copy it to
# /etc/systemd/system/gdoormon.service
[Unit]
Description=gdoormon

[Service]
ExecStart=/home/pi/code/gdoormon/start.sh start -n
WorkingDirectory=/home/pi/code/gdoormon

User=pi
Group=pi

Restart=always

[Install]
WantedBy=multi-user.target

# vim: ft=config
